certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.29
django-filter==1.0.4
django-oauth-toolkit==1.0.0
djangorestframework==3.9.1
idna==2.6
Markdown==2.6.9
oauthlib==2.0.4
pytz==2017.2
requests==2.20.0
urllib3==1.22
